{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

<div class="container-fluid mt-3 mt-md-5 test">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center mt-0 mb-5 collection-list-title">{{ page_title }}</h1>
      <div class="row">

      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
          <div class="col-12 col-md-3 mb-4" data-aos="fade-up">
          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}" class="fixed-ratio portrait-crop">
            {% if collection.image != blank %}
              {{ collection | img_url: '480x' | img_tag: collection.title, 'img-fluid' }}
            {% elsif collection.products.first != blank %}
              {{ collection.products.first | img_url: '480x' | img_tag: collection.title, 'img-fluid' }}
            {% else %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            {% endif %}
          </a>

          <p class="py-3 text-center collection-list-links">
            <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">{{ collection.title }}</a>
          </p> 
          </div>
        {% endunless %}
      {% endfor %}
      </div>
		</div><!-- col -->
	</div><!-- row -->
</div><!-- container -->
